* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c1cbdb;
}

header {
    background-color: #4a90e2;
    color: white;
    text-align: center;
    padding: 2rem;
}

.highlight {
    color: yellow;
}

main {
    margin: 20px 0px;
    padding: 0 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.photo-section {
    text-align: center;
}

.profile-photo {
    width: 200px;
    border-radius: 100%;
    border: 3px solid #4a90e2;
}

.hobby-container {
    display: flex;
    /* what if i change or remove this? */
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.hobby-item {
    flex: 1;
    background-color: #4a90e2;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.links-section ul {
    /* what does this do? */
    list-style: none;
}

.links-section a {
    display: block;
    padding: 10px;
    margin: 5px 0;
    background-color: #4a90e2;
    color: white;
    /* what does this do? */
    text-decoration: none;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #4a90e2;
    color: white;
}
